footer {
    background-color: #1c1c1c;
    padding: 20px 0;
    text-align: center;
    color: #cfcfcf;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #ff3e75;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #e63667;
}

.footer-text {
    margin-top: 10px;
}

.social-icons {
    display: flex; /* Aligns the icons in a row */
    justify-content: center; /* Centers the icons horizontally */
    gap: 10px; /* Space between each icon */
    margin: 20px 0; /* Margin above and below the icon section */
}

.social-icons img {
    width: 24px; /* Set a fixed width for the icons */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s; /* Animation for hover effect */
}

.social-icons img:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}
