header {
    background-color: #1c1c1c;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: #ff3e75;
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: center;
}

.center-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.right-link {
    list-style: none;
    margin-left: auto;
}

.right-link li {
    display: inline;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff3e75;
}
